body {
	font-family: 'Roboto';
	/*background-color: rgba(67, 72, 73, 1);*/
}
.navbar {
	height: 10%;
	margin-bottom: 0;
}
ul {
	list-style-type: none;
}
.main-banner {
	width: 100%;
	height: 20vh;
	position: relative;
	background-color: rgba(66, 71, 74, 1);
	font-size: 2em;
}
.main-banner .main-banner-name {
	top: 10%;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
	font-weight: 600;
	letter-spacing: 2px;
}
.main-banner .main-banner-surname {
	top: 10%;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 1);
	font-size: 0.75em;
}
.main-banner .main-banner-name, .main-banner .main-banner-surname {
	position: absolute;
	/*float: right;*/
	transition: font-size 0.2s ease-in-out, top 0.2s ease-in-out;
	right: 0;
	padding: 10px;

}

.main-banner .main-banner-name:hover {
	font-size: 1.2em;
	/*top: 0;*/
}
.main-banner .main-banner-surname:hover {
	font-size: 0.9em;
	bottom: 0;
}

.about-me {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
	height: 40vh;
}
.about-me .about-me-section {
	float: left;
	width: 50%;
	text-align: center;
}

.widget-container {
	position:relative; 
	width: 100%; 
	height: 100%; 
	background-color: transparent;
}
.widget-container .widget-center {
	margin-left: auto; 
	margin-right: auto; 
	position: relative;
}

.main-view {
    opacity: 1;
    position: absolute;
    top: 52px;
    width: 100%;
}
.main-view.ng-enter,
.main-view.ng-leave {
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
.main-view.ng-enter {
    opacity: 0;
}
.main-view.ng-enter-active {
    opacity: 1;
}
.main-view.ng-leave {
    opacity: 1;
}
.main-view.ng-leave-active {
    opacity: 0;
    /*display: none;*/
}
.form-checkbox {
	vertical-align: top;
}
.active-tab {
	background-color: white;
}
.component-category {
	height: 30vh;
	margin: 20px 0;
}
.component-category .component-content, .component-category .component-description {
	height: 100%;
}
.component-category .component-description {
	text-align: center;
	margin-top: 7.5vh;
}
.component-category .component-description .component-title {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.component-category .component-description .component-config {
	margin-top: 10px;
}
.component-category .component-description span {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}