.interests-tree {
	/* background-color: rgba(236,252,230,1); */
	/* width:800px; */
	margin-top:20px;
}

.interests-tree .interests-tree-indicator {
	width:12px;
	height:12px;
	background-color: grey;
	display: inline-block;
	transition: background-color 0.2s ease-out, border 0.2s ease-out;
	/* margin-top:1px; */
	border-left: 12px solid transparent;
	border-bottom: 12px solid transparent;
	
}


.interests-tree .interests-tree-indicator.all-selected {
	background-color: rgba(240,110,52,1);
}
.interests-tree .interests-tree-indicator.part-selected {
	width: 0;
	height: 0;
	border-left-color: rgba(240,110,52,1);
	background-color: grey;
}
.interests-tree .interests-tree-indicator:hover, .interests-tree .interests-tree-indicator.all-selected:hover, .interests-tree .interests-tree-indicator.part-selected:hover {
	background-color: rgba(240,110,52,0.6);
}

.interests-tree .node-header .node-header-title, 
.interests-tree .leaf-header .leaf-header-title, 
.interests-tree .node-header .node-header-caret, 
.interests-tree .node-header .node-header-options {
    font-size: 12px;
    padding: 0px;
    cursor: pointer;
}

.interests-tree .node-header .node-header-indicator {
	width:12px;
	height:12px;
	display: inline-block;
	text-align:center;
	vertical-align: top;
	margin-top: 2.5px;
}
.interests-tree .node-header .node-header-indicator .node-expand {
	width:12px;
	height:12px;
	padding:0;
	font-size:16px;
}
.interests-tree .node-header .node-header-title, .interests-tree .leaf-header .leaf-header-title {
    vertical-align: top;
    max-width:90%;
    display: inline-block;
    margin-left: 4px;
    padding-left: 2px;
    padding-right: 2px;
}
.interests-tree .node-header .node-header-title:hover {
    text-decoration: underline;
    background-color: rgba(120,220,52,0.5);
}

.interests-tree .text-label {
	font-size:14px;
}

.interests-tree .node-header .node-header-title.selected-title {
	background-color: rgba(240,110,52,1);
	color: white;
	text-decoration: none;
}
.interests-tree .node-header .node-header-title.selected-title:hover {
	text-decoration: underline;
}