<div class="container">
	<div class="main-banner">
		<div class="main-banner-name">{{author.name + ' ' + author.surname | uppercase}}</div>
		<div class="main-banner-surname">{{author.title | uppercase}}</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h1>Hi!</h1>
			<p>Here it's going to be some info about how much i like my pupa.</p>
			<p>It looks like shit atm, but its just a matter of time when it will get more pretty.</p>
		</div>
		<!-- <div class="col-xs-6">
			<input type="text" ng-model="cyce">
			{{cyce}}
		</div> -->
	</div>
</div>