<!-- <div class="node-padding" style="display:inline-block" ng-style="{'width' : ((item.nestingLevel-1) * 10) + 'px'}"></div> -->
<!-- było użyte do narysowania linii tworzących drzewko, na razie out border-left: 1px dashed grey; border-bottom: 1px dashed grey; position: relative; top:-10px; width: 10px; height: 20px" -->
<!-- <div class="node-tree" style="display:inline-block"></div> -->
<div class="node-header" style="display:inline-block" ng-style="{'padding-left' : ((item.nestingLevel-1) * 15) + 'px'}">
	<div class="node-header-indicator">
		<button class="node-expand" ng-hide="item.isLastNode()" ng-click="item.toggle()">
			<i class="fa" ng-class="{'fa-minus' : item.isToggled, 'fa-plus' : !(item.isToggled)}" style="vertical-align: top; margin-top: 0.5px; font-size:8px" ></i>
		</button>
	</div>
	<div class="interests-tree-indicator" ng-click="item.selectAll()" ng-class="{'all-selected' : item.selectionStatus === 'ALL', 'part-selected' : item.selectionStatus === 'PART'}"></div>
    <div class="node-header-title" ng-class="{'selected-title' : item.id === mmSourceData.currentlySelectedItem.id}" ng-click="item.select()">{{item.title}}</div>
</div>
<ul class="node-content" ng-hide="!item.isToggled" style="padding:0">
    <li ng-repeat="item in item.children">
        <div class="tree-node" ng-if="!(item.isRealLeaf())"  ng-include="'templates/directives/interests-tree/node-element.html'"></div>
    </li>
</ul>