<div class="interests-tree" style="min-height:300px">
	<div class="row">
		<div class="col-xs-7 col-sm-7">
			<div class="row">
				<div class="col-xs-12">
					<div class="tree-header">
						<div class="node-header">
							<div class="interests-tree-indicator" ng-click="mmSourceData.selectAll()" ng-class="{'all-selected' : mmSourceData.selectionStatus === 'ALL', 'part-selected' : mmSourceData.selectionStatus === 'PART'}"></div>
			    			<div class="node-header-title" ng-click="mmSourceData.select()" ng-class="{'selected-title' : mmSourceData.currentlySelectedItem === 'root'}">{{mmSourceData.title}}</div>
						</div>
				    </div>
				</div>
			</div>
		    <ul style="padding-left:15px">
		        <li ng-repeat="item in mmSourceData.children">
		            <div class="tree-node" ng-if="!(item.isRealLeaf())"  ng-include="'templates/directives/interests-tree/node-element.html'"></div>
		        </li>
		    </ul>
		    <!-- <button ng-click="showModel()">poka model</button>
		    <button ng-click="selectItemsByIds(mmSourceData)">wybierz idki</button> -->
		</div>
		<div class="col-xs-5 col-sm-5">
			<div class="row" ng-show="mmSourceData.currentlySelectedItem.hiddenChildren.length === 0 || mmSourceData.currentlySelectedItem === 'root'">
				<div class="col-xs-12">
					<label>No sports for currently selected category</label>
				</div> 
			</div>
			<div ng-show="mmSourceData.currentlySelectedItem.hiddenChildren.length !== 0 && mmSourceData.currentlySelectedItem !== 'root' && mmSourceData.currentlySelectedItem !== null">
				<div class="row">
					<div class="col-xs-12">
						 <label>{{mmSourceData.currentlySelectedItem.title + ':'}}</label>
					</div>
				</div>
			</div>
			<div class="row" ng-repeat="item in mmSourceData.currentlySelectedItem.hiddenChildren">
				<div class="col-xs-12 leaf-header">
					<div class="interests-tree-indicator" ng-click="item.selectAll()" ng-class="{'all-selected' : item.selectionStatus === 'ALL', 'part-selected' : item.selectionStatus === 'PART'}"></div>
					<div class="leaf-header-title" ng-click="item.selectAll()">{{item.title}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
		</div>
	</div>
	<div class="row" style="margin-top: 20px" ng-hide="mmSourceData.selectedItems.length === 0">
		<div class="col-xs-12">
			<label class="text-label">Sports you like</label>
			<div class="selected-sports">
				<span ng-repeat="item in mmSourceData.selectedItems">{{item.title + ($last ? '' : ', ')}}</span>
			</div>
		</div>
	</div>
	
    
</div>